body:has(.ld-modal) {
	overflow: hidden;
}
.ld-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	background-color: rgba(0, 0, 0, .3);
	backdrop-filter: blur(2px) brightness(102.5%) saturate(10%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .3s ease;
	@starting-style {
		opacity: 0;
	}
}
.ld-modal[data-state="close"] {
	opacity: 0;
}
.ld-modal .ld-modal-content {
	position: relative;
	background-color: #fff;
	padding: 1rem;
	width: 95%;
	max-width: 520px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	transition: transform .3s cubic-bezier(0,0,.5,1.5);
	@starting-style {
		transform: scale(0.0);
	}
}
.ld-modal[data-state="close"] .ld-modal-content {
	transform: scale(0.0);
}
.ld-modal .ld-modal-content button.ld-modal-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
	color: #666;
	cursor: pointer;
}