:root {
	--employee-time-checker-success: #59CC8D;
	--employee-time-checker-warning: #FFFF5A;
	--employee-time-checker-danger: #FF5959;
	--employee-time-checker-neutral: #727272;
}
table.employee-time-checker {
	width: 100%;
	table-spacing: 0;
	border-collapse: collapse;
}
table.employee-time-checker thead tr th div {
	text-align: center;
}
table.employee-time-checker thead tr th div:nth-child(1) {
	font-size: 0.75rem;
	color: #bbb;
	font-weight: 400;
}
table.employee-time-checker tbody tr td {
	text-align: center;
	width: 8%;
    height: 100%;
    padding: .25rem;
    height: 0;
    vertical-align: top;
}
table.employee-time-checker tbody tr td:first-child {
	text-align: left;
	vertical-align: middle;
	width: 20%;
}
table.employee-time-checker tbody tr td:last-child {
	font-weight: 600;
	vertical-align: middle;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	padding: .25rem;
	gap: .25rem;
	position: relative;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple svg {
	display: block;
    width: 48px;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-success {
	background-color: var(--employee-time-checker-success);
	color: #fff;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-warning {
	background-color: var(--employee-time-checker-warning);
	color: #000;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-danger {
	background-color: var(--employee-time-checker-danger);
	color: #fff;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-free {
	border-color: #0D0D0D;
    background-image: repeating-linear-gradient(-45deg, #0D0D0D, #0D0D0D 2px, #404040 2px, #404040 4px);
	color: #fff;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-suspension,
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-sick,
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-permission,
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-vacation {
	background-color: var(--employee-time-checker-neutral);
	color: #fff;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple label.employee-time-checker-table-snipple-checkbox {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: .25rem;
	border-radius: 0 0.25rem 0 50%;
	cursor: pointer;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-danger label.employee-time-checker-table-snipple-checkbox {
	background-color: rgba(255, 255, 255, 0.7);
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple.employee-time-checker-table-snipple-warning label.employee-time-checker-table-snipple-checkbox {
	background-color: rgba(0, 0, 0, 0.2);
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple label.employee-time-checker-table-snipple-checkbox:hover {
	background-color: rgba(255, 255, 255, 0.9);
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple label.employee-time-checker-table-snipple-checkbox input[type='checkbox'] {
	display: block;
	appearance: none;
	width: 16px;
	height: 16px;
	margin: 0;
	border-radius: 50%;
	border: 1px solid #fff;
	cursor: pointer;
}
table.employee-time-checker tbody tr td .employee-time-checker-table-snipple label.employee-time-checker-table-snipple-checkbox input[type='checkbox']:checked {
	background-color: var(--bs-primary);
}


.employee-time-checker-card {
	/* padding: .5rem; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	overflow: hidden;
	height: 100%;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.employee-time-checker-card input[type='checkbox'] {
	display: none;
}
.employee-time-checker-card:has(input[type='checkbox']:checked) {
	background-color: #DDEEFF;
	border: 1px solid var(--bs-primary);
	overflow: hidden;
}
.employee-time-checker-card .employee-time-checker-card-image {
	/* background-color: #EEE; */
	padding: 0.5rem;
}
.employee-time-checker-card .employee-time-checker-card-body {
	flex: 1;
	padding: 0.5rem;
}
.employee-time-checker-card .employee-time-checker-card-body h5,
.employee-time-checker-card .employee-time-checker-card-body p {
	margin: 0;
	font-size: 1rem;
}
.employee-time-checker-card .employee-time-checker-card-body small {
	display: block;
	max-width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.employee-time-checker-card .employee-time-checker-card-body .employee-time-checker-card-body-select-cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: .25em;
}
.employee-time-checker-card .employee-time-checker-card-body .employee-time-checker-card-body-select-cont select {
	border-color: transparent;
	background-color: transparent;
}
.employee-time-checker-card .employee-time-checker-card-body .employee-time-checker-card-body-select-cont select:hover {
	border: var(--bs-border-width) solid var(--bs-border-color);
	background-color: #fff;
}
.employee-time-checker-card .employee-time-checker-card-body .employee-time-checker-card-body-select-cont.employee-time-checker-card-body-select-cont-unassigned,
.employee-time-checker-card .employee-time-checker-card-body .employee-time-checker-card-body-select-cont.employee-time-checker-card-body-select-cont-unassigned select {
	color: #CD3737 !important;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-front img {
	/* border-radius: 50%;
	width: 100px;
	height: 100px; */
	object-fit: cover;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip {
	width: 85px;
	height: 85px;
	perspective: 1000px;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
	transition: transform 0.6s;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-front,
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	backface-visibility: hidden;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back {
	transform: rotateY(180deg);
	position: relative;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back svg,
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back svg {
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	fill: var(--bs-primary);
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back.employee-time-checker-card-image-back-male {
	background-color: #CCEDF3;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back.employee-time-checker-card-image-back-female {
	background-color: #F7E1F3;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip .employee-time-checker-card-image-flip-inner .employee-time-checker-card-image-back span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.employee-time-checker-card .employee-time-checker-card-image .employee-time-checker-card-image-flip:hover .employee-time-checker-card-image-flip-inner {
	transform: rotateY(180deg);
}

@keyframes zzzAnim {
	0% { opacity: .5; }
	20% { opacity: 1; }
	40% { opacity: .5; }
}
.zzz1 {
	opacity: .5;
	animation: zzzAnim 2s infinite;
	animation-delay: 0s;
}
.zzz2 {
	opacity: .5;
	animation: zzzAnim 2s infinite;
	animation-delay: .25s;
}
.zzz3 {
	opacity: .5;
	animation: zzzAnim 2s infinite;
	animation-delay: .5s;
}

@keyframes gavelAnim {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-15deg); }
	50% { transform: rotate(15deg); }
	75% { transform: rotate(0deg); }
}
.gavelSVG {
	transform-origin: left bottom;
	animation: gavelAnim 2s infinite;
}

@keyframes briefcaseAnim {
	0% { transform: translateY(0); }
	50% { transform: translateY(-10%); }
	100% { transform: translateY(0); }
}
.briefcaseSVG {
	transform-origin: left bottom;
	animation: briefcaseAnim 2s infinite;
}

@keyframes thumbsUpAnim {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
.thumbsUpSVG {
	transform-origin: left bottom;
	animation: thumbsUpAnim 2s infinite;
}
@keyframes umbrellaSunAnim {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.umbrellaSVG-sun {
	transform-origin: 16.729147141% 16.729147141%;
	animation: umbrellaSunAnim 2s linear infinite;
}
@keyframes umbrellaAnim {
	0% { transform: rotate(0deg); }
	20% { transform: rotate(-10deg); }
	40% { transform: rotate(0deg); }
}
.umbrellaSVG-umbrella {
	transform-origin: 48.969072164% 91.37769447%;
	animation: umbrellaAnim 5s infinite;
}