.row.filtros {
	& .col {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		& label {
			width: 100%;
			padding-block: 0.5rem;
		}
	}
	@media screen and (max-width: 576px) {
		& .col {
			flex-direction: column;
			gap: 0;
			& label {
				padding-block: 0;
			}
		}
	}
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
	right: 0;
	fill: #6c757d;
}
.react-datepicker__view-calendar-icon input {
	padding: 6px 25px 5px 10px !important;
}